flows (1).json
[{"id":"2e9e59d9.e7ebe6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1183d4c9.3922ab","type":"ui_form","z":"2e9e59d9.e7ebe6","name":"","label":"","group":"b4cbcb70.cc7d98","order":0,"width":"6","height":"13","options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["c352ca79.a42618"]]},{"id":"b50062c4.a1dff","type":"watson-discovery-v1","z":"2e9e59d9.e7ebe6","name":"newsapp","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/c641c0dd-45d2-4d89-8a85-ec6cb8ea300a","x":260,"y":100,"wires":[["b905737e.7e3a"]]},{"id":"c352ca79.a42618","type":"function","z":"2e9e59d9.e7ebe6","name":"","func":"msg={\ndiscoveryparams:\n    {\n   \"environment_id\":\"system\",\n   \"query\":msg.payload.input\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["b50062c4.a1dff"]]},{"id":"fecbebe6.5ba858","type":"debug","z":"2e9e59d9.e7ebe6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":300,"wires":[]},{"id":"b905737e.7e3a","type":"function","z":"2e9e59d9.e7ebe6","name":"","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["fecbebe6.5ba858","246e6fa3.4fdad"]]},{"id":"246e6fa3.4fdad","type":"ui_text","z":"2e9e59d9.e7ebe6","group":"b4cbcb70.cc7d98","order":1,"width":"6","height":"10","name":"","label":"Results","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":380,"wires":[]},{"id":"b4cbcb70.cc7d98","type":"ui_group","z":"","name":"Watson app","tab":"8441a162.0cebc","order":1,"disp":true,"width":"6","collapse":false},{"id":"8441a162.0cebc","type":"ui_tab","z":"","name":"NEWS","icon":"dashboard","disabled":false,"hidden":false}]